header, footer {max-width: 100%;}
p:last-child {margin-bottom: 0;}
.d-block {display: block !important;}
.d-none {display: none !important;}
.notification-banner {display: none;}

/* General/Glboal Styles */
.wflp-wrapper {}
.wflp-wrapper .container-width {
    position: relative;
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 20px;
}


.hero-section,
.wflp-standard-content.image-bg,
.wflp-testimonials.image-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-section:before,
.wflp-standard-content.image-bg.overlay-on:before,
.wflp-testimonials.image-bg.overlay-on:before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.overlay-off:before {
    display: none !important;
}

/* Topography */
.wflp-wrapper a {
    transition: all .2s ease-in-out;
}

/* Header Styles */
.wflp-header {
    position: relative;
    width: 100%;
    padding: 15px 0;
    z-index: 99998;
}
.wflp-header .container-width {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.wflp-header:before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.wflp-site-logo img {
    height: 80px;
    width: 200px;
    object-fit: contain;
    object-position: left;
}
.wflp-hdr-cta {max-width: 200px;}
.wflp-header.logo-left .container-width {
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.wflp-header.logo-center .container-width {justify-content: center;}
.wflp-header.logo-center .wflp-site-logo img {object-position: center;}

/*
Only use with absolute or fixed styled headers

.logged-in .wflp-header {top: 46px;}
@media screen and (min-width:782px) {
    .logged-in .wflp-header {top: 32px;}
}
*/

/* Basic Section Styles */
.wflp-section {
    position: relative;
    padding: 100px 0;
}

/* Hero Section Styles */
/* TEMPLATE : Simple */
.hero-inner {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.hero-section .content-area {
    color: #fff !important;
}
.wflp-form-area {margin-top: 50px; padding: 30px 40px; position: relative;}
.wflp-form-area:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #696969;
}
.wflp-form-area .gform_wrapper {position: relative;}
.wflp-form-area .gform_body .gfield_label {font-weight: 400;}
.wflp-form-area .gform_body input,
.wflp-form-area .gform_body textarea,
.wflp-form-area .gform_body select {border: 0; padding: 10px 15px !important;}
.wflp-form-area .gform_body input:hover,
.wflp-form-area .gform_body textarea:hover,
.wflp-form-area .gform_body input:focus,
.wflp-form-area .gform_body textarea:focus {
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);}
.wflp-form-area .gform_footer {}
.wflp-form-area .gform_footer input[type='submit'] {
    padding: 6px 25px;
    font-weight: 400;
}
.wflp-form-area .gform_footer input[type='submit']:hover,
.wflp-form-area .gform_footer input[type='submit']:active,
.wflp-form-area .gform_footer input[type='submit']:focus {
    opacity: .7;
}
.wflp-form-area .gform_wrapper .gfield_required {color: #fff;}
.wflp-form-area .gform_wrapper ul.gform_fields li.gfield {padding-right: 0;}
.wflp-form-area .gform_wrapper .top_label div.ginput_container {margin-top: 0;}
.wflp-form-area .gform_wrapper .ginput_container_consent {
    display: flex;
    flex-direction: row;
}
.wflp-form-area .gform_wrapper .ginput_container_consent input[type=checkbox] {
    order: -3;
    margin-top: 2px;
}
.wflp-form-area .gform_wrapper .ginput_container_consent .gfield_consent_label {
    order: -2;
    font-size: 80%;
    line-height: 1.3;
    padding-left: 10px;
    font-style: italic;
}
.wflp-form-area .gform_wrapper .ginput_container_consent .gfield_required {
    order: -2;
}
@media screen and (min-width:992px) {
    .hero-section,
    .parallax-on {background-attachment: fixed;}
    .hero-inner {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    } 
    .hero-inner .content-area {max-width: 950px; width: 100%; padding-right: 20px;}
    .wflp-form-area  {max-width: 400px; width: 100%; margin-top: 0;}
    .hero-inner.form-left {flex-direction: row-reverse;}
    .hero-inner.form-left .content-area {padding-right: 0; padding-left: 20px;}
}
/* TEMPLATE : Trust Logos */
.hero-tlogos {padding-bottom: 0;}
.hero-tlogos-carousel {
    background-color: #ffffff; 
    padding: 40px 0;
    position: relative;
}
@media screen and (min-width:992px) {
    .hero-tlogos .wflp-form-area  {
        position: relative;
        z-index: 10;
        top: 100px;
    }
}


/* Flex Content Styles */
/* Standard Content Styles */
.wflp-standard-content {}
.wflp-standard-content .container-width {padding: 0;}
.wflp-scb-inner {display: flex; flex-wrap: wrap; justify-content: space-between;}
.wflp-scb-col {padding: 40px 20px; width: 100%;}
@media screen and (min-width:992px) {
    .wflp-scb-inner {flex-wrap: nowrap;} 
    .wflp-scb-col {padding: 20px;}
}
/* Halfscreen Content Styles */
.wflp-hscb {
    display: flex;
    position: relative; 
}
.wflp-hscb > div {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}
.wflp-hscb.text-image, .wflp-hscb.image-text {
    flex-direction: column; 
}
@media screen and (min-width:992px) {
    .wflp-hscb > div {max-width: 50vw;}
    .wflp-hscb.text-image {flex-direction: row-reverse;}
    .wflp-hscb.image-text {flex-direction: row;} 
}
.wflp-hscb .hcb-text-wrap {
    padding: 14vw 0; 
}
.wflp-hscb .hcb-text-wrap .hcb-text-inner {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px; 
}
@media screen and (min-width:992px) {
    .wflp-hscb .hcb-text-wrap {padding: 120px 0px;}
    .wflp-hscb .hcb-text-wrap .hcb-text-inner {padding: 0 40px;} 
}
.wflp-hscb .hbc-image-wrap {
    background-size: cover;
    background-position: center;
    padding: 25vw 0; 
}
@media screen and (min-width:992px) {
    .wflp-hscb .hbc-image-wrap {padding: 0;} 
}
.wflp-hscb .hbc-image-wrap:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}
/* Testimonials Styles */
.tstm-carousel {}
/*
.tstm-carousel .swiper-pagination {bottom: 0;}
.tstm-carousel .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}
.tstm-carousel .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {}
.tstm-carousel .swiper-button-prev,
.tstm-carousel .swiper-button-next {
    background-image: none;
    height: 21px;
    width: 12px;
    display: none;
}
.tstm-carousel .swiper-button-prev {
    left: 0;
}
.tstm-carousel .swiper-button-next {
    right: 0;
}
.tstm-carousel .swiper-button-prev:before,
.tstm-carousel .swiper-button-next:before {
    position: absolute;
    font-size: 40px;
    height: 21px;
    width: 12px;
    margin: auto;
    line-height: 10px;
}
.tstm-carousel .swiper-button-prev:before {content: "‹";}
.tstm-carousel .swiper-button-next:before {content: "›";}
*/
.tstm-carousel .testimonial-item {}
.tstm-carousel .testimonial-item p {margin-bottom: 15px; padding: 0 40px;}
.tstm-carousel .testimonial-item p:last-child {margin-bottom: 0;}
.testimonial-card {margin: 0 20px; padding: 20px;
}
@media screen and (min-width:992px) {
    /*.tstm-carousel {padding: 0 30px 60px !important;}
    .tstm-carousel .swiper-button-prev,
    .tstm-carousel .swiper-button-next {display: block;}
    .tstm-carousel .testimonial-item p {padding: 0 2vw;}*/
}
/* Trust Logos Styles */
.wflp-tlogos {padding: 50px 0;}
.wflp-trust-logos.logo-grayscale {filter: grayscale(1);}
.wflp-trust-logos.logo-white {filter: brightness(0) invert(1);}
.wflp-trust-logos .swiper-wrapper {text-align: center; align-items: center;}
.wflp-tlogos-logo {
    align-items: center;
    justify-content: center;
    padding: 0 3vw;
}
.wflp-tlogos-logo img {
    max-height: 80px;
    width: auto;
    transition: all .2s ease-in-out;
}
.wflp-trust-logos.logo-grayscale .wflp-tlogos-logo img {opacity: .5;}
.wflp-trust-logos.logo-grayscale .wflp-tlogos-logo img:hover {opacity: 1;}


/* Footer Styles */
.wflp-footer {
    text-align: center; 
    padding: 80px;
}
.wflp-footer-logo img {
    filter: brightness(0) invert(1);
    opacity: .5;
    max-width: 150px;
    margin: 0 auto;
}
.wflp-footer .social-links {margin-top: 15px;}
.wflp-footer .social-links a {
    padding: 8px;
    font-size: 16px;
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 2px; 
}
.wflp-footer .social-links a i {
    position: absolute;
    line-height: 1;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 16px;
    font-size: 16px;
}
.wflp-footer .social-links a:before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.5);
    transition: all .2s ease-in-out;
}
.wflp-footer .social-links a:hover:before {
    background-color: rgba(255,255,255,.8);
}
.wflp-footer .footer-legal {
    font-size: 90%;
    margin: 15px 0 0;
    color: #fff;
}

/* Helper Classes */
.color-white {color: #fff !important;}
.text-center {text-align: center;}

.wflp-btn {
    color: #fff;
    display: inline-block;
    border: 2px solid;
    padding: 6px 25px;
    margin: 0 15px 15px 0;
    text-decoration: none;
    font-weight: 400;
}
.wflp-btn:last-child {margin: 0;}
.wflp-btn:hover, 
.wflp-btn:active, 
.wflp-btn:focus {
    color: #fff;
    text-decoration: none;
}

.wflp-btn-primary {}
.wflp-btn-primary:hover, 
.wflp-btn-primary:active, 
.wflp-btn-primary:focus {}

.wflp-btn-secondary {}
.wflp-btn-secondary:hover, 
.wflp-btn-secondary:active, 
.wflp-btn-secondary:focus {}

.wflp-btn-outline {background-color: transparent;}
.wflp-btn-outline:hover, 
.wflp-btn-outline:active, 
.wflp-btn-outline:focus {color: #fff;}

@media screen and (max-width:992px) {
    .hide-mobile {display: none !important;}
}